body{
	background-image: url(background.jpg);
	background-position: fixed;
	background-size: cover;
}

.container {
	position: center;
	height: 750px;
	width: 350px;
	margin: 15px 15px;
	padding: 10px 5px;
	border-radius: 10px;
	background: rgba(61, 90, 128, 0.6);
}

.font1 {
	font-size: 300%;
	font-family: "Courier New", monospace;
	text-align: center;
	color: #000000;
	margin-right: 10px;
	margin-left: 10px;
}
.font2 {
	font-size: 120%;
	font-family: "Garamond", serif;
	text-align: center;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
.font3 {
	font-size: 130%;
	font-family: "Georgia", serif;
	text-align: center;
	color: #000000;
	margin-top: 1px;
	margin-right: 90px;
	margin-left: 90px;
}